*.vs
/SonicAdventure2Randomizer/Debug
/SonicAdventure2Randomizer/Release
/SonicAdventure2Randomizer/SonicAdventure2Randomizer/Debug
/SonicAdventure2Randomizer/SonicAdventure2Randomizer/Release
/APCppSrc